*{
	margin: 0;
	padding: 0;
}

body{
	width: 575px;
	margin: 0 auto;
}

.magazine_name{
	position: relative;
	border-bottom: 10px solid #23251B;
}

.magazine_name_contents{
	color: #B7DA24;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.magazine_name_english{
	padding-left: 22px;
	font-size: 95px;
	font-family: 'Commissioner', sans-serif;
	line-height: 122%;
	position: relative;
	width: auto;
}

.magazine_name_english_voltaire{
	font-family: 'Voltaire', sans-serif;
	font-size: 120px;
}

.magazine_name_english_redletter{
	position: absolute;
	top: -17px;
	color: #fff;
	text-shadow: 2px 2px 1px #EB3430,
	             -2px 2px 1px #EB3430,
	             2px -2px 1px #EB3430,
	             -2px -2px 1px #EB3430;
}

.magazine_name_english_plus{
	position: absolute;
	top: -17px;
	right: 40px;
	font-size: 125px;
}

.magazine_name_english_plus:after{
	content: "";
	width: 115px;
	height:30px;
	background: url("../img/androider.png") no-repeat;
	background-size:contain;
	position: absolute;
	bottom: 0;
	left: -15px;
}

.magazine_name_japanese{
	font-size: 10px;
	position: absolute;
	top: 55px;
	left: 65px;
}

.magazine_cover{
	background-color: #B8DB1F;
	position: relative;
}

.monthly_box{
	width: 190px;
	background-color: #B8DB1F;
	border-top: 10px solid #23251B;
	position: absolute;
	right: 0;
	top: -25px;
}

.monthly{
	color: #fff;
	font-family: 'Alumni Sans', sans-serif;
	font-weight: bold;
	position: relative;
	line-height: 355%;
}

.monthly_year{
	font-size: 18px;
	position: absolute;
	top: -6px;
	right: 18px;
}

.monthly_month{
	padding-right: 10px;
	font-size: 20px;
	text-shadow: 1px 2px 3px #808080;
	text-align: right;
}

.monthly_month_number{
	font-size: 80px;
	vertical-align: sub;
}

.triangle-black{
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #23251B;
	position: absolute;
	top: -1px;
	left: -21px;
	transform: rotate(135deg);

}

.triangle-green{
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #B8DB1F;
	position: absolute;
	top: 7px;
	left: -18px;
	transform: rotate(135deg);
}

.smartphone_parcentage{
	padding: 45px 0 55px 35px;
	background: url(../img/speechbaloon.png) no-repeat -4px -2px;
    background-size: 240px 200px;
	font-size: 55px;
	font-weight: bold;
	line-height: 100%;
	letter-spacing: -0.1em;
	position: relative;
    z-index: 4;
}

.smartphone_parcentage_number{
	color:#F82625;
}

.smartphone_parcentage_number span{
	font-size: 35px;
	padding-left: 5px;
}

.smartphone_image1,
.smartphone_image2,
.smartphone_image3{
	position: absolute;
}

.smartphone_image1{
	width: 300px;
	top: 18px;
	right: 145px;
	transform: rotate(-10deg);
	z-index: 3;
}

.smartphone_image2{
	top: 12px;
	right: 120px;
	z-index: 2;
}

.smartphone_image3{
	top: 35px;
	right: 23px;
	transform: rotate(10deg);
	z-index: 1;
}

.magazine_contents_phone_select{
	position: relative;
	z-index: 4;
}

.magazine_contents_phone_select_subtitle{
	width: auto;
	padding: 0 20px;
	margin: 0 0 10px 8px;
	color: #fff;
	background-color: #097DF4;
	border-radius: 25px;
	box-shadow: 2px 2px 4px #808080;
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	z-index: 2;
}

.magazine_contents_phone_select_subtitle::before{
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	transform: rotate(-135deg);
	left: 20px;
	top: 20px;
	border-left: 20px solid #097DF4;
	border-top: 20px solid #097DF4;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
/* 白い半円 */
.magazine_contents_phone_select_subtitle::after{
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	transform: rotate(-135deg);
	left: 38px;
	top: 25px;
	border-left: 20px solid #B8DB1F;
	border-top: 20px solid #B8DB1F;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;

}


.magazine_contents_phone_select_title_gradation{
	background: linear-gradient( #1951A9, #5CA3EA);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 58px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	text-align: center;
	letter-spacing: -0.1em;
	line-height: 100%;
	position: relative;
	z-index: 10;
	text-stroke: 2px #fff;
	-webkit-text-stroke: 2px #fff;
}

.magazine_contents_phone_select_title_gradation span{
	font-size: 68px;
}

.magazine_contents_phone_select_ribbontitle{
	width: auto;
	padding: 5px 20px 35px;
	margin: 0 auto;
	display: table;
	text-align: center;
}

.bookBottomLeft{
	float: left;
}

.specialApplication{
	margin: 0 0 40px 15px;
}

.specialApplicationSubTitle{
	font-size: 15px;
	font-weight: bold;
	text-shadow: 2px 2px 1px #fff,
	             -2px 2px 1px #fff,
	             2px -2px 1px #fff,
	             -2px -2px 1px #fff;
}


.specialApplicationSubTitle span{
	font-size: 20px;
}

.fontChange{
	color: #EB3430;
}

.specialApplicationMainTitle{
	width: 280px;
	height: 65px;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	background: url(../img/tag.jpeg) no-repeat;
	background-size: 280px 65px;
	justify-content: center;
	display: flex;
	align-items: center;
	text-shadow: 2px 2px 1px #fff,
	             -2px 2px 1px #fff,
	             2px -2px 1px #fff,
	             -2px -2px 1px #fff;
}

.specialApplicationMainTitle span{
	color: #EB3430;
}


.display{
	padding: 5px;
	background: red;
	opacity: 0.5;
}

.qAndA{
	margin-left: 15px;
	position: relative;
	letter-spacing: -2px;
	line-height: 100%;
}

.solution{
	font-size: 10px;
	font-weight: bold;
	text-shadow: 2px 2px 1px #fff,
	             -2px 2px 1px #fff,
	             2px -2px 1px #fff,
	             -2px -2px 1px #fff;
	position: absolute;
	top: -25px;
	transform: rotate(-2deg);
}

.solution span{
	font-size: 15px;
}

.qAndA h2{
	display: inline;
	text-shadow: 2px 2px 1px #fff,
	             -2px 2px 1px #fff,
	             2px -2px 1px #fff,
	             -2px -2px 1px #fff;
	font-size: 22px;
	position: relative;
	z-index: 2;
}

.qAndA h2 span{
	color: #EB3430;
	font-size: 26px;
}

.questionnAndAnswer{
	color: #4C4B46;
	display: inline;
	font-weight: bold;
	font-size: 30px;
	position: relative;
    z-index: 2;
}

img.qandAImage {
	width: 120px;
	position: absolute;
	top: -35px;
	left: 151px;
	z-index: 1;
}

.question,
.answer{
	font-size: 40px;
}

.question{
	color: #1F7ADC;
}

.answer{
	color: #EE4871;
}

img.smartphone{
	width: 50px;
	top: 2px;
	position: absolute;
}

.androiderMan{
	float: left;
}

.androiderMan img{
	width: 150px;
	margin: 17px 0 17px 14px;
}

.pazdora{
	margin-right: ;
}

.pazdora img{
	width: 95px;
	transform: rotate(-8deg);
}








